$h1-font-size: 1.25rem;
$h2-font-size: $h1-font-size;

$badge-padding-y: .25rem;
$badge-padding-x: .45rem;

$table-cell-padding: .5rem;
@import "jpn.css/src/bootstrap/jpn.scss";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "common";
@import "shared/form";
